@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--ease-in-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
:root {
	--radius: 0.65rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.637 0.237 25.331);
	--primary-foreground: oklch(0.971 0.013 17.38);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.637 0.237 25.331);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.637 0.237 25.331);
	--sidebar-primary-foreground: oklch(0.971 0.013 17.38);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.637 0.237 25.331);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.637 0.237 25.331);
	--primary-foreground: oklch(0.971 0.013 17.38);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.637 0.237 25.331);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.637 0.237 25.331);
	--sidebar-primary-foreground: oklch(0.971 0.013 17.38);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.637 0.237 25.331);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	html {
		@apply scroll-smooth ;
		scroll-snap-type: y mandatory;
		transition: color 200ms ease-in-out;
	}
	body {
		@apply bg-background text-foreground z-10 scroll-pt-[100px];
	}
	main {
		@apply mx-auto max-w-4xl relative z-10;
	}
	::-webkit-scrollbar {
		background: transparent;
		width: 6px;
		height: 3px;
		background: var(--foreground);
	}

	@media (max-width: 600) {
		::-webkit-scrollbar {
			width: 4px;
		}
	}

	::-webkit-scrollbar-button {
		display: none;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-foreground;
	}
	h1 {
		@apply scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance;
	}
	h2 {
		@apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
	}
	h3 {
		@apply scroll-m-20 text-2xl font-semibold tracking-tight;
	}
	h4 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight;
	}
	p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}
	blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}
	table {
		@apply my-6 w-full overflow-y-auto;
	}
	table tr {
		@apply even:bg-muted/40 m-0 border-t p-0 rounded-sm;
	}
	table th {
		@apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
	}
	table td {
		@apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
	}
	ul {
		@apply my-6 ml-6 list-disc [&>li]:mt-2;
	}
	code {
		@apply text-foreground/80;
	}
	a {
		@apply hover:underline;
	}
	button {
		@apply cursor-pointer;
	}
	canvas {
		background: transparent;
		pointer-events: none; /* чтобы мышь проходила сквозь */
		z-index: 0;
	}
	code {
		text-wrap: auto;
	}

	.prose h1 {
		margin-top: 28px;
		margin-bottom: 28px;
	}

	.prose h2 {
		padding-top: 18px;
		padding-bottom: 18px;
		margin-top: 14px;
		margin-bottom: 14px;
	}

	.prose hr {
		margin-top: 26px;
		margin-bottom: 26px;
	}

	.prose pre code {
		font-size: 16px;
	}

	.prose > p code {
		font-size: 1em;
		font-weight: bold;
	}

	.prose table {
		width: 100%;
		overflow: auto;
		display: block;
	}
}

.hello {
	height: 95px;
	color: white;
	z-index: 100;
	right: 0;
	margin-right: 80px;
	position: fixed;
	vertical-align: middle;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.roudedBackground {
	cursor: pointer;
	border: 1.5px solid #241e1e;
	position: absolute;
	background: #241e1e;
	opacity: 0.6;
	border-radius: 40% 42% 45% 55%;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.curve-border {
	border-radius: 40% 42% 45% 55%;
}

.scrollbar-transparent::-webkit-scrollbar { 
    width: 0 !important;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
    background: transparent;  
}

.goTo {
	animation: go 5200ms infinite linear;
}

.goBack {
	animation: revertGo 5200ms infinite linear;
}

@keyframes go {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes revertGo {
	from {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes gooMove {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(20px, 20px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.animate-goo {
	animation: gooMove 4s infinite ease-in-out;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

@keyframes drawLine {
	from {
		stroke-dashoffset: 1200;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@import '../../styles/highlight-js/github-dark.css';
@import '../../styles/highlight-js/github.css';

